DB_URL=jdbc:postgresql://postgres:5432/amigo_secreto
DB_USERNAME=postgres
DB_PASSWORD=postgres

JWT_SECRET=your-super-secret-jwt-key

EMAIL_USERNAME=your-email@email.com
EMAIL_PASSWORD=your-gmail-app-password